/* --------------------------------- */
/* Css Styles                        */
/*---------------------------------- */

/**
	Gorge - Portfolio Template
	Author : Tavonline
	Copyright 2018

/* Table of Content
==================================================


	1. Body and Core Css
	2. Home Page
     2.1 Portfolio Section
     2.2 Twitter Section



/*------------------------ 1 Body and Core Css ------------------------*/
html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 170px;
    font-weight: 500;
}

.full-open header{
    position: fixed;
}

header{
    padding: 30px;
    /* width: 100%; */
    position: absolute;
    z-index: 5;
}

/* Preloader */


.preloader {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99999;
}

.preloader .loader {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 4px solid #000;
    -o-animation:loader 2s infinite ease;
    -ms-animation:loader 2s infinite ease;
    -moz-animation:loader 2s infinite ease;
    -webkit-animation:loader 2s infinite ease;
    animation: loader 2s infinite ease;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.preloader .loader .loader-inner {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    background-color: #000;
    -o-animation:loader-inner 2s infinite ease-in;
    -ms-animation:loader-inner 2s infinite ease-in;
    -moz-animation:loader-inner 2s infinite ease-in;
    -webkit-animation:loader-inner 2s infinite ease-in;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
.logo{
    /* font-weight: 600; */
    float:left;
    font-size:37px;
}
.logo a{
    text-decoration: none!important;
    color: #212529!important;
    font-weight: 510;
}
.logo span{
    margin-left: 10px;
}
.logo img{
    margin-top: -8px;
}
.blue{
    color: #18AAB7;
}

/* Margins */

.top_15{
    margin-top: 15px;
}

.top_30{
    margin-top: 30px;
}

.top_45{
    margin-top: 45px;
}

.top_60{
    margin-top: 60px;
}

.top_90{
    margin-top: 90px;
}

.top_120{
    margin-top: 120px;
}
.top_150{
    margin-top: 150px;
}
.top_180{
    margin-top: 180px;
}
.top_200{
    margin-top: 200px;
}
.top_300{
    margin-top: 300px;
}
.top_per_20{
    margin-top: 30%;
}
.bottom_per_20{
    margin-bottom: 30%;
}

.padding_30{
   padding: 30px 0;
}

.padding_45{
   padding: 45px 0;
}

.padding_60{
   padding: 60px 0;
}

.padding_90{
   padding: 90px 0;
}

.padding_120{
   padding: 120px 0;
}

.bottom_15{
    margin-bottom: 15px;
}

.bottom_30{
    margin-bottom: 30px;
}

.bottom_45{
    margin-bottom: 45px;
}

.bottom_60{
    margin-bottom: 60px;
}

.bottom_90{
    margin-bottom: 90px;
}

.bottom_120{
    margin-bottom: 120px;
}

.padbot_15{
    padding-bottom: 15px;
}

.padbot_30{
    padding-bottom: 30px;
}

.padbot_45{
    padding-bottom: 45px;
}

.padbot_60{
    padding-bottom: 60px;
}



.subtitle{
    font-size: 22px;
    font-weight: bold;
}

.site-btn{
    font-size: 15px;
    font-weight: 600;
    color: #000;
    border: solid 2px #ea0026;
    border-radius: 50px;
    padding: 11px 45px;
    text-decoration: none;
    /* Old browsers */
    background: linear-gradient(to right, #ea0026 50%, white  50%);
    background-size: 202% 100%;
    background-position:right bottom;
    margin-left:10px;
    transition:all 1s ease;
    display: inline-block;
}

.site-btn:hover{
    background-position:left bottom;
    text-decoration: none;
    color: #fff !important;
}

.site-btn.arrow{
    font-size: 14px;
    padding: 11px 22px;
}

.site-btn.arrow:after{
    font-family: 'Font Awesome 5 Free';
    content: "\f30b";
    font-weight: 900;
    float: right;
    margin-left: 32px;
}

.site-btn2{
    background: #212121;
    font-size: 15px;
    font-weight: 500;
    border: 0;
    border-radius: 50px;
    padding: 12px 60px;
    color: #fff;
    cursor: pointer;
    line-height: 25px;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}

.site-btn2:hover{
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}


/*------------------------ 2 Home Page ------------------------*/

.wrapper{
    position: relative;
    z-index: 1;
    background: #fff;
    overflow: hidden;
    /* box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10); */
    padding-bottom: 90px;
}

.cont{
    width: 70%;
    margin-left: 15%;
}

.home{
    /* display: table; */
    width: 100%;
    padding: 3%;
    /* margin-bottom: 100px; */
}
#MainNav{
    width: 100%;
    z-index: 10000;
    background: #4e4e4e;
    position: relative;
    margin: 0;
    max-height: 150px;
}
#MainNav .arrow{
    text-align: center;
    position: absolute;
    width: 80px;
    height: 70px;
    display: block;
    top: -95px;
    left: 40px;
    right: 0;
    /* margin: 0 auto; */
    color: #fff;
    /* background: #18AAB7; */
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
}
#MainNav .arrow:hover{
    /* background: rgb(37, 37, 37); */
}
#MainNav .arrow i{
    font-size: 50px;
    padding-top: 10px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 90vh;
  top: 0;
  left: 0;
  z-index: 6;
}

.home .home-content {
    /* position: relative; */
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    left:-30%;
}

.home .home-content .hero-title{
    font-size: 60px;
    font-weight: 700;
    /* letter-spacing: -4px; */
    line-height: 80px;
}

.home .home-content p{
    font-size: 28px;
    color: #181818;
    font-weight: 500;
}

.home .home-content p span{
    color: #000;
    font-weight: 900;
}

/* .home .home-content .social{
    right: 0;
    top: 0;
    position: absolute;
    top: 45%;
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-right: -155px;
    z-index: 6;
}

.home .home-content .social a{
    display: block;
    color: #000;
    font-size: 13px;
    margin-top: 10px;
    float: left;
    margin-right: 15px;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    font-weight: 600;
}


.home .home-content .social a.text{
    margin-right: 0;
}

.home .home-content .social a i{
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.home .home-content .social a:hover i{
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.home .home-content .line{
    float: left;
    width: 72px;
    background: #bfbfbf;
    height: 1px;
    margin: 20px 17px;
} */
.home .social{
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    top: 45%;
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-right: -155px;
    z-index: 6;
}

.home .social a{
    display: block;
    color: #000;
    font-size: 13px;
    margin-top: 10px;
    float: left;
    margin-right: 15px;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    font-weight: 600;
}


.home .social a.text{
    margin-right: 0;
}

.home .social a i{
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.home .social a:hover i{
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.home .line{
    float: left;
    width: 72px;
    background: #bfbfbf;
    height: 1px;
    margin: 20px 17px;
}


/*------------------------ 2.1 Portfolio Section ------------------------*/


#portfolio{
    position: relative;
}

.portfolio .portfolio-filter{
    margin-bottom: 15px;
    float: left;
    transform: rotate(-90deg);
    margin-top: 193px;
    margin-left: -250px;
    position: absolute;
    left: 0;
    top: 0;
}

.portfolio .portfolio-filter div{
    cursor: pointer;
}

.portfolio .portfolio-filter div {
    list-style: none;
    float: left;
    color: #a8a8a8;
    font-size: 15px;
    margin-right: 20px;
}

.portfolio .portfolio-filter .cbp-filter-item-active{
    color: #000 !important;
}

.portfolio .grid-container .cbp-item img{
    width: 100%;
}

.cbp-item figure {
    margin:0;
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    color: #000;
    text-align: left;
    font-size: 16px;
    background: #000;
    /* border-radius: 8px; */
}

.cbp-item figure:hover img {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    zoom: 1;
    filter: alpha(opacity=40);
    -webkit-opacity: .4;
    opacity: .4;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.cbp-item figure figcaption {
    z-index: 10;
    padding-left: 20px;
    padding-top: 47%;
}

.cbp-item figure figcaption, .cbp-item figure:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cbp-item figure:after {
    content: '';
    background-color: rgba(255, 255, 255, 0.65);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
}

.cbp-item figure figcaption h3 {
  line-height: 1.1em;
  font-size: 22px;
  opacity: 0;
  width: 100%;
  padding: 0;
  color: #fff;
  -webkit-transform: translateY(-40px);
 transform: translateY(-40px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.cbp-item figure p {
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0;
  top: 50%;
  color: #ffffffbd;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.cbp-item figure figcaption:hover h3,
.cbp-item figure figcaption:hover p{
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.cbp-item .shine{
        opacity: 0.3;
}

.portfolio .site-btn{
    margin: 0 auto;
}

.cbp-item figure img, .work figure {
    width: 100%;
}

.cbp-l-loadMore-link{
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #000 !important;
    font-family: 'Montserrat', sans-serif !important;
    border-radius: 50px;
    background: linear-gradient(to right, #18AAB7 50%, white  50%);
    background-size: 202% 100%;
    background-position:right bottom;
    margin-left:10px;
    transition:all 1s ease !important;

}

.cbp-l-loadMore:hover{
    background-position:left bottom ;
    text-decoration: none;
    color: #fff !important;
}

.classic-title{
    font-size: 22px;
    font-weight: bold;
    color: #121212;
}


/*------------------------ Single Portfolios ------------------------*/
.grid-container{
    height: auto!important;
}

.portfolio-single.type-1 .hero-image img{
    width: 100%;
    /* border-radius: 12px;
    -webkit-border-radius: 12px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
    -webkit-box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15); */
}

/* Portfolio Type 1 */

.portfolio-single .information{
    width: 100%;
    float: left;
    padding: 30px 5px 15px;
}

.portfolio-single .information li{
    float: left;
    list-style: none;
    margin-right: 35px;
    color: #a7a7a7;
    font-weight: 400;
}

.portfolio-single .information li span{
    font-weight: bold;
    color: #000;
}

.portfolio-single .title{
    font-size: 28px;
    line-height: 38px;
    font-weight: bold;
}

.portfolio-single p{
    line-height: 30px;
}

.portfolio-lightbox figure img{
    width: 100%;
    /* border-radius: 10px; */
    /* -webkit-border-radius: 10px; */
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
    -webkit-box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
}

.portfolio-nav .port-next{
    text-decoration: none;
    overflow: hidden;
    height: 70px;
    display: inline-block;
}

.portfolio-nav .port-next .nav-title{
    color: #000;
    font-size: 60px;
    font-weight: 600;
}

.portfolio-nav .port-next .next-title{
    color: #000;
    font-size: 30px;
    font-weight: 600;
}

.portfolio-nav .port-next .next-title, .portfolio-nav .port-next .nav-title{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
}

.portfolio-nav .port-next:hover .next-title, .portfolio-nav .port-next:hover .nav-title{
    transform: translateY(-150%);
    -webkit-transform: translateY(-150%);
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
}


/* Portfolio Single Type 2 */


.portfolio-hero{
    width: 100%;
    height: 100%;
    display: table;
    background-size: cover !important;
    position: relative;
}

.portfolio-hero:before{
    height: 100%;
    background: #00000061;
    position: absolute;
    width: 100%;
    content: '';
}

.portfolio-hero .hero-inner {
    position: relative;
    z-index: 4;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}

.portfolio-hero .hero-inner .title{
    font-size: 70px;
    font-weight: bold;
}

.portfolio-hero .hero-inner p{
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin: 20px 0 30px;
}

.portfolio-hero .hero-inner .information{
    font-size: 12.5px;
    font-weight: 400;
    display: inline-block;
    margin: 0 auto;
    opacity: .8;
    padding-left: 0px;
}

.portfolio-hero .hero-inner .information li{
    float: left;
    list-style: none;
    margin-right: 20px;
}

header.white .logo{
    display: none;
}

.full-open header.white .logo{
    display: inline;
}

.full-open header.white .logo-white{
    display: none;
}

header.white .nav-icon span {
    background: #fff;
}

.full-open .nav-icon span {
    background: #000 !important;
}

.portfolio-single.type-2 .title{
    font-size: 34px;
    font-weight: 900;
}

.portfolio-single.type-2 .subtitle{
    font-size: 25px;
    color: #5f5e5f;
    font-weight: 600;
    margin: 15px 0;
}

.portfolio-single.type-2 p{
    color: #5f5e5f;
    font-size: 20px;
}


.portfolio-images figure img{
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
    -webkit-box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
}


/* Portfolio Single Type 3 */

.portfolio-single.type-3 .title{
    font-size: 60px;
    line-height: 65px;
    font-weight: 900;
}

.portfolio-single.type-3 .information{
    margin: 0 auto;
    float: none;
    display: inline-block;
    padding: 0;
    width: auto;
}

.portfolio-video iframe{
    width: 100%;
    min-height: 750px;
    border-radius: 12px;
}

.information{
    margin-top: 50px;
    margin-left: -40px;
}
.information li{
    list-style: none;
}
.information li span{
    margin-right: 2rem;
    color: #18AAB7;
    -webkit-transition: all .5s cubic-bezier(1, .5, .38, 1.2);
    transition: all .5s cubic-bezier(1, .5, .38, 1.2);
    font-size: 20px;
}
/*------------------------ 2.2 Twitter Section ------------------------*/


.widget-twitter{
    text-align: center;
    overflow: hidden;
    width: 400px;
    margin-left: auto;
    margin-right: auto;

}

.tweet{

}

.tweet ul {
    width: 99999px;
    height: auto;
    text-align: center;
    padding: 0;
}

.tweet ul li{
    margin: 20px 0 0;
    width: 400px;
    min-height: 130px;
    float: left;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
}

.tweet ul li span.date{
    font-size: 13px;
    color: #4e4e4e;
    margin-top: 12px;
    display: block;
}



/*------------------------ 2.2 Full Menu ------------------------*/

.full-menu{
    background: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;
    transform: translateX(100%);
    transition: all ease 0.4s 0.6s;
}

.full-menu .full-inner{
    height: 100%;
}

.full-menu .full-inner nav{
    text-align: left;
    padding-left: 5%;
    display: table;
    height: 100%;
}

.full-menu .full-inner nav ul{
    display: table-cell;
    vertical-align: middle;
}

.full-menu .full-inner nav ul li{
    list-style: none;
    overflow: hidden;
}

.full-menu .full-inner nav ul li a{
    color: #4f535f;
    font-size: 40px;
    /* font-weight: 900; */
    text-decoration: none;
    transform: translateY(47px);
    display: block;
    transition: all ease 0.4s 0.0s;
}


.full-menu .full-inner .full-contact{
    background: url('../images/contact.JPG');
    /* background: #3e3c39; */
    background-size: cover;
}


.full-menu .full-contact{
    display: table;
    height: 100%;
}

.full-menu .full-inner .full-contact ul{
    /* display: table-cell;
    vertical-align: middle; */
    margin-top: 5%;
}


.full-menu .full-inner .full-contact ul li{
    list-style: none;
    transform: translateY(25px);
    opacity: 0;
    transition: all ease 0.4s 0.3s;
}


.full-menu .full-inner .full-contact ul li.title{
    font-size: 30px;
    /* font-weight: 900; */
}

.full-menu .full-inner .full-contact ul li{
    font-size: 20px;
    /* color: #4f535f; */
    color: #fff;
    font-weight: 600;
}

.full-menu .full-inner .full-contact ul li .social{
    margin-top: 10px;
}

.full-menu .full-inner .full-contact ul li .social a{
    font-size: 16px;
    /* color: #4f535f; */
    color: #4e4e4e;
    text-decoration: none;
    margin-right: 10px;
}

.full-menu .full-inner .full-contact ul li .social a i:hover{
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}


/* Full Menu Animate */

.full-open .full-menu{
    transform: translateX(0);
    transition-delay: 0s;
}

.full-open .full-menu .full-inner nav ul li a{
    text-decoration: none;
    transform: translateY(0);
    transition: transform ease 0.7s 0.5s;
}

.full-open .full-menu .full-inner nav ul li a:hover{
    transition: all ease 0.3s;
}

.full-open .full-menu .full-inner .full-contact ul li:nth-child(1){
    transform: translateY(0);
    opacity: 1;
    transition: all ease 0.7s 1.0s;
}


.full-open .full-menu .full-inner .full-contact ul li:nth-child(2){
    transform: translateY(0);
    opacity: 1;
    transition: all ease 0.7s 1.2s;
}
.full-open .full-menu .full-inner .full-contact ul li:nth-child(3){
    transform: translateY(0);
    opacity: 1;
    transition: all ease 0.7s 1.4s;
}


/* Nav Icon */

.nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #000;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.nav-icon:hover span:nth-child(3){
    width: 100%;
}

.nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon span:nth-child(2) {
  top: 7px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon span:nth-child(3) {
  top: 14px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  width: 60%;
  right: 0 !important;
}

/* Full Menu When Open */

.full-open .nav-icon span {
    width: 85%;
}

.full-open:hover span:nth-child(3){
    width: 85%;
}

.full-open .nav-icon span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.full-open .nav-icon span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.full-open .nav-icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 16px;
  left: 8px;
}


.nav-icon {
    float: right;
    width: 30px;
    height: 18px;
    right: 20px;
    position: fixed;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}



/*------------------------ 2.2 Footer Section ------------------------*/

footer{
    width: 100%;
    padding: 60px 0 41px;
    position: fixed;
    z-index: 0;
    bottom: 0;
    background: #fff;
}

footer .copyright p{
    color: #979797;
    font-size: 14px;
    margin-top: 8px;
    font-weight: 400;
}


footer .social{
    margin: 0 auto;
    display: table;
    padding-top: 10px;
}

footer .social a{
    background: #fff;
    color: #191919;
    font-size: 12px;
    padding: 6px 9px;
    display: inline-block;
    border-radius: 50px;
    margin-right: 8px;
    cursor: pointer;
}

footer .social a:hover{
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}


footer .getintouch{
    text-align: right;
    color: #000;
}

footer .getintouch a{
    font-size: 14px;
    color: #979797;
    text-decoration: none;
}

footer .getintouch strong{
    font-size: 20px;
    color: #000;
}



/*------------------------ About Page ------------------------*/

.titlebar{
    padding: 94px 0;
    height: 300px;
    text-align: center;
}

.titlebar .page-title{
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -2px;
}

.titlebar .page-title span{
    font-size: 80px;
    font-weight: 600;
}

.titlebar #particles-js {
    height: 300px;
}

.about .about-text .subtitle{
    font-size: 23px;
    /* font-weight: bold;
    letter-spacing: -1px; */
}

.about .about-text p{
    color: #5f5e5f;
    font-size: 18px;
    /* font-weight: bold; */
    letter-spacing: -1px;
    line-height: 30px;
}

.owl-carousel.work-areas .area i:before{
    font-size: 100px;
}

.owl-carousel.work-areas .area .title{
    padding-top:20px;
    font-size: 19px;
}

.owl-carousel.work-areas .area .line{
    width: 35px;
    height: 4px;
    margin: 10px auto;
    display: inline-block;
}

.owl-carousel.work-areas .area p{
    color: #5f5e5f;
    line-height: 22px;
    font-size: 15px;
    padding: 0 30px;
}

.owl-theme .owl-controls .owl-page span{
    width: 10px;
    height: 10px;
    margin-top: 30px;
}


.about .clients .client {
    height: 200px;
    display: table;
    opacity: .5;
}

.about .clients .client:hover{
    transition: all ease 0.3s;
    opacity: 1;
}

.about .clients .client figure{
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.about .clients .client figure img{
    max-width: 50%;
}


/*------------------------ News Page ------------------------*/


.news{
    transform: translateY(5px);
    transition: all ease 0.3s;
}

.news:hover{
    text-decoration: none;
    transform: translateY(0);
    transition: all ease 0.3s;
}

.news-box figure img{
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
}

.news-box .title{
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

.news-box small{
    font-weight: 500;
}

.news-box p{
    font-size: 15px;
    color: #5f5e5f;
    margin: 18px 0;
}

.news-box .information{
    font-size: 13px;
    color: #000;
}

.news-box .information span{
    color: #adadad;
}

/* news big */

.news-big .news-box .title{
    font-size: 27px;
    font-weight: bold;
    color: #000;
}

.news-big .news-box p {
    font-size: 15px;
    color: #5f5e5f;
    margin: 18px 0;
    line-height: 28px;
}

/* news list */

.news-list{
    border-bottom: solid 1px #dfdfdf;
    padding-bottom: 50px;
}

.news-list:last-child{
    border: none;
}

.news-list:hover .news-box .title{
    transition: all ease 0.3s;
}

.news-list .left-list{
    padding-top: 45px;
}

.news-list:hover{
    text-decoration: none;
}

/* news article */

.news-article .article-image img{
    width: 100%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
    -webkit-box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
}

.news-article .title{
    font-size: 45px;
    font-weight: bold;
    padding: 10px 0;
}

.news-article .information{
    font-size: 13px;
    color: #000;
}

.news-article .information span{
    color: #adadad;
}

.news-article p{
    line-height: 30px;
}

.news-article .category{
    font-weight: bold;
}

.article-lightbox figure img{
    width: 100%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
    -webkit-box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}

.news-article blockquote{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.article-comments .comment{
    border-bottom: solid 1px #dfdfdf;
    padding-bottom: 30px;
}

.article-comments .comment:last-child{
    border: none;
}

.article-comments .comment.reply{
    padding-left: 60px;
}

.article-comments .comment figure img{
    width: 100%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
    -webkit-box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);

}

.article-comments .comment-content .title{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}

.article-comments .comment-content .date{
    color: #818080;
    font-size: 13px;
}

.article-comments .comment-content p{
    color: #818080;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 15px;
}

.article-comments .comment-content .reply{
    font-size: 13.5px;
}

.article-comments .comment-content .reply:hover{
    text-decoration: none;
    color: #000;
    transition: all ease 0.3s;
}

.article-comments .comment-content .reply:before{
    content: "\f3e5";
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    margin-right: 7px;
    font-size: 13.5px;
}

.article-video iframe{
    width: 100%;
    height: 470px;
}

.article-slider img{
    width: 100%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
}



/*------------------------ Sidebar Widgets ------------------------*/

.widgets-title{
    font-size: 22px;
    font-weight: 600;
}

/* Search */

.search {
    border: solid 3px #000;
    border-radius: 50px;
    height: 54px;
    padding-left: 15px;
    padding-top: 3px;
}
.search input {
    font-size: 14px;
    float: left;
    border: none;
    height: 42px;
    width: 80%;
    color: #777;
    outline: 0;
    padding-left: 15px;
}

.search .search-icon button{
    float: right;
    background: none;
    border: none;
    margin-top: 9px;
    outline: 0;
    cursor: pointer;
}


/* latest post */

.widget-latest-news ul {
    padding-left: 0;
}

.widget-latest-news ul a{
    text-decoration: none;
    transition: all ease 0.3s;
}

.widget-latest-news ul li a:hover p{
    transition: all ease 0.3s;
}

.widget-latest-news ul li{
    list-style: none;
    padding: 18px 0 15px;
    border-bottom: solid 1px #dfdfdf;
}

.widget-latest-news ul li:last-child{
    border: 0;
}

.widget-latest-news ul li p{
    font-size: 14px;
    margin-bottom: 6px;
    color: #000;
}

.widget-latest-news ul li span{
    font-size: 13px;
    color: #b1b1b1;
    font-weight: 400;
}


/* categories */

.widget-categories ul{
    padding: 0;
}

.widget-categories ul li{
    list-style: none;
    border-bottom: solid 1px #dfdfdf;
    font-size: 14px;
    font-weight: 400;
}

.widget-categories ul li a{
    color: #000;
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    font-weight: 500;
    transition: all ease 0.3s;
}

.widget-categories ul li a:hover{
    transition: all ease 0.3s;
}



/*------------------------ Contact Page ------------------------*/

.contact .contact-info{
    font-size: 21px;
    color: #5f5e5f;
    font-weight: 500;
}

.contact .contact-info a{
    color: #5f5e5f;
    font-weight: 500;
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
}

input.inp{
    width: 100%;
    margin-bottom: 30px;
    border:solid 3px #212121;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    height: 54px;
    font-size: 13px;
    padding-left: 15px;
    outline: 0;
}

textarea.form-message{
    width: 100%;
    margin-bottom: 30px;
    border:solid 3px #212121;
    border-radius: 23px;
    -webkit-border-radius: 23px;
    font-size: 13px;
    padding: 15px;
    outline: 0;
}




/*------------------------ Responsive ------------------------*/


@media (min-width: 768px) and (max-width: 1024px) {

    header {
        padding: 22px;
    }

    .home .home-content .hero-title {
        font-size: 110px;
        font-weight: 900;
        letter-spacing: -4px;
        line-height: 88px;
    }

    .home .home-content p {
        font-size: 20px;
        color: #181818;
        font-weight: 500;
    }

    .portfolio .portfolio-filter {
        margin-top: 0;
        margin-bottom: 15px;
        float: left;
        transform: rotate(0);
        margin-bottom: 32px;
        margin-left: 5px;
        position: relative;
        left: 0;
        top: 0;
        z-index: 10;
    }

    .titlebar .page-title, .titlebar .page-title span {
    font-size: 70px;
    }

    .titlebar {
        padding: 74px 0;
        height: 210px;
        text-align: center;
    }

    .titlebar #particles-js {
        height: 210px;
    }

    .about .about-text .subtitle {
        font-size: 24px;
        line-height: 30px;
    }

    .about .about-text p {
        font-size: 21px;
    }

    .owl-carousel.work-areas .area i:before{
        font-size: 70px;
    }

    .about .clients .client figure img {
        max-width: 70%;
    }

    .contact-form input.inp{
        height: 44px;
    }

    .contact-form .site-btn2{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .cont {
        width: 90%;
        margin-left: 5%;
    }

    .full-menu .full-inner nav ul li a {
        font-size: 32px;
    }

    .full-menu .full-inner .full-contact ul li.title {
        font-size: 26px;
    }

    .full-menu .full-inner .full-contact ul li {
        font-size: 16px;
    }

    .portfolio-nav .port-next .nav-title {
        font-size: 45px;
    }

    .hero-inner .cont{
        width: 100%;
        margin-left: 0;
    }

    .portfolio-single .information li{
        float: none;
        text-align: center;
        margin: 0 auto;
        line-height: 38px;
    }

    .portfolio-video iframe {
        min-height: 460px;
    }

    .portfolio-single.type-3.top_90{
        margin-top: 30px;
    }

    .article-video iframe {
        width: 100%;
        height: 380px;
    }

    .news-article .title {
        font-size: 32px;
    }

    .portfolio-single.type-3 .title {
        font-size: 50px;
    }

}


@media (max-width: 767px) {

    .news-article{
        margin-bottom: 90px;
    }

    .comment figure img{
        display: none;
    }

    .comment.reply.top_45{
        margin-top: 0;
    }

    .comment.reply{
        padding-left: 0 !important;
    }

}



@media (min-width: 481px) and (max-width: 767px) {

    header {
        padding: 18px;
    }

    .home .home-content .hero-title {
        font-size: 70px;
        line-height: 64px;
    }

    .home .home-content p {
        font-size: 20px;
        margin-top: 24px;
    }

    .cont {
        width: 90%;
        margin-left: 5%;
    }

    .portfolio .portfolio-filter {
        margin-top: 0;
        margin-bottom: 15px;
        float: left;
        transform: rotate(0);
        margin-bottom: 32px;
        margin-left: 5px;
        position: relative;
        left: 0;
        top: 0;
        z-index: 10;
    }

    .titlebar .page-title, .titlebar .page-title span {
    font-size: 50px;
    }

    .titlebar {
        padding: 74px 0;
        height: 180px;
        text-align: center;
    }

    .titlebar #particles-js {
        height: 180px;
    }

    .about .about-text .subtitle {
        font-size: 24px;
        line-height: 30px;
    }

    .about .about-text p {
        font-size: 21px;
    }

    .owl-carousel.work-areas .area i:before{
        font-size: 55px;
    }

    .about .clients .client figure img {
        max-width: 70%;
    }

    .contact-form input.inp{
        height: 44px;
    }

    .contact .contact-info {
        font-size: 18px;
        color: #5f5e5f;
        font-weight: 500;
    }

    .contact-form{
        margin-top:45px;
    }

    .contact-form .site-btn2{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    body {
        padding-bottom: 176px;
    }

    footer .social{
        padding-bottom: 10px;
    }

    .full-menu .full-inner nav ul li a {
        font-size: 32px;
    }

      .portfolio-nav .port-next .nav-title {
        font-size: 45px;
    }

    .portfolio-single .information li{
        float: none;
        text-align: center;
        margin: 0 auto;
        line-height: 38px;
    }

    .portfolio-video iframe {
        min-height: 367px;
    }

    .news-article .title {
        font-size: 30px;
        line-height: 38px;
    }

    .article-video iframe {
        width: 100%;
        height: 370px;
    }

}



@media (max-width: 480px) {

    header {
        padding: 16px;
    }

    .portfolio .portfolio-filter {
        margin-top: 0;
        margin-bottom: 15px;
        float: left;
        transform: rotate(0);
        margin-bottom: 32px;
        margin-left: 5px;
        position: relative;
        left: 0;
        top: 0;
        z-index: 10;
    }
    .logo{
        font-size: 30px;
        margin-left: -18px;
        margin-top: -18px;
    }
    .logo img{
        margin-top:-5px;
    }


    .titlebar .page-title, .titlebar .page-title span {
    font-size: 30px;
    }

    .titlebar {
        padding: 74px 0;
        height: 130px;
        text-align: center;
    }

    .titlebar #particles-js {
        height: 130px;
    }

    .about .about-text .subtitle {
        font-size: 20px;
        line-height: 30px;
    }

    .about .about-text p {
        font-size: 18px;
    }

    .owl-carousel.work-areas .area .title {
        padding-top:20px;
        font-size: 16px;
    }

    .owl-carousel.work-areas .area i:before{
        font-size: 55px;
    }

    .about .clients .client figure img {
        max-width: 70%;
    }

    .contact-form input.inp{
        height: 44px;
    }

    .contact .contact-info {
        font-size: 18px;
        color: #5f5e5f;
        font-weight: 500;
    }

    .contact-form{
        margin-top:45px;
    }


    .full-menu .full-inner nav ul li a {
        font-size: 27px;
    }

    footer .copyright{
        text-align: center;
    }

    body {
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 218px;
    }

    footer .social {
        padding-bottom: 10px;
    }

    .widget-twitter, .tweet ul li  {
        width: 200px;
    }

    .tweet ul li  {
        margin-top: 5px;
        font-size: 12.5px;
    }

    .classic-title {
        font-size: 20px;
    }

    .widget-twitter .twitter-account{
        margin-top: 19px;
        display: block;
    }

    .home .home-content .hero-title {
        font-size: 40px;
        letter-spacing: -1px;
        line-height: 39px;
    }

    .home .home-content p {
        font-size: 15px;
        margin-top: 11px;
    }

    .home .home-content .social {
        display: none;
    }

    .cont {
        width: 90%;
        margin-left:5%;
    }

    .news-article .title {
        font-size: 25px;
    }

    .portfolio-nav .port-next .nav-title {
        font-size: 40px;
    }

    .portfolio-single .title {
        font-size: 24px !important;
        line-height: 34px !important;
    }

    .portfolio-single .information li{
        float: none;
        text-align: center;
        margin: 0 auto;
        line-height: 30px;
    }

    .portfolio-hero .hero-inner .information li {
        line-height: 28px;
        text-align: center;
        width: 100%;
    }

    .portfolio-hero .hero-inner .title {
        font-size: 24px !important;
        line-height: 34px;
    }

    .portfolio-single.type-2 .subtitle {
        font-size: 20px;
    }

    .portfolio-video iframe {
        min-height: 170px;
    }

    .title.bottom_45.top_120 {
        margin-top: 3px;
        margin-bottom: 23px;
    }

    .portfolio-nav .port-next {
        height: 49px;
    }

    .portfolio-nav .port-next .nav-title {
        font-size: 30px;
    }

    .title.bottom_30.top_120{
        margin-top: 15px;
    }

    .portfolio-nav.text-center.top_90{
        margin-top: 45px;
    }

    .wrapper {
        padding-bottom: 60px;
    }


}

sup{
    top:-1.5em;
}
sub, sup{
    font-size: 45%;
}


.codrops-top{
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.1);
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}
.codrops-top a:hover{
	background: rgba(255,255,255,0.3);
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}
/* Demo Buttons Style */
.codrops-demos{
    text-align:center;
	display: block;
	line-height: 30px;
	padding: 5px 0px;
}
.codrops-demos a{
    display: inline-block;
	font-style: italic;
	margin: 0px 4px;
	padding: 0px 6px;
	color: #aaa;
	line-height: 20px;
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
	border: 1px solid #fff;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.codrops-demos a:hover{
	color: #333;
	background: #fff;
}
.codrops-demos a:active{
	background: #fff;
}
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
	background: #f0f0f0;
	border-color: #d9d9d9;
	color: #aaa;
	box-shadow: 0 1px 1px rgba(255,255,255,0.7);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.support-note span{
	color: #ac375d;
	font-size: 16px;
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
}
.no-cssanimations .support-note span.no-cssanimations,
.no-csstransforms .support-note span.no-csstransforms,
.no-csstransforms3d .support-note span.no-csstransforms3d,
.no-csstransitions .support-note span.no-csstransitions{
	display: block;
}

.ch-item {
	width: 100%;
	/* height: 100%; */
	border-radius: 50%;
	position: relative;
	cursor: default;
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	-o-perspective: 900px;
	-ms-perspective: 900px;
	perspective: 900px;
}
.ch-info{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	transition: all 0.4s linear;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.ch-info .ch-info-front {
	/* box-shadow: inset 0 0 0 16px rgba(0,0,0,0.3); */
}

.ch-info .ch-info-back {
	-webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
    /* background: #18AAB7; */
	opacity: 0;
}
.ch-info .serv1{
    background-image: url(../images/HCL\ Graphic\ Design.png);
    background-size: cover;
}
.ch-info .serv2{
    background-image: url(../images/HCL\ Copy.png);
    background-size: cover;
}
.ch-info .serv3{
    background-image: url(../images/HCL\ Web.png);
    background-size: cover;
}
.ch-info h2{
    top:50%;
}

.ch-img-1 {
    background-image: url(../images/graphics_design.png);
    background-size: cover;
}

.ch-img-2 {
    background-image: url(../images/content_writing.png);
    background-size: cover;
}

.ch-img-3 {
    background-image: url(../images/web_development.png);
    background-size: cover;
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
	margin: 0 15px;
	padding: 60px 0 0 0;
	height: 210px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow:
		0 0 1px #fff,
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover .ch-info-front {
	-webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	opacity: 0;
}

.ch-item:hover .ch-info-back {
	-webkit-transform: rotate3d(1,0,0,0deg);
	-moz-transform: rotate3d(1,0,0,0deg);
	-o-transform: rotate3d(1,0,0,0deg);
	-ms-transform: rotate3d(1,0,0,0deg);
	transform: rotate3d(1,0,0,0deg);
	opacity: 1;
}
.ch-grid {
	margin: 85px 0 0 0;
	padding: 0;
	list-style: none;
	/* display: block; */
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 320px;
	height: 320px;
	display: inline-block;
	/* margin: 50px; */
}
.list-services{
    text-align: left;
}
.list-item::before{
    content: "\2022";
    color: #18AAB7;
    font-size: 40px;
    line-height: 25px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0;
}

.list-item{
    display:list-item;
    margin-left: 20px;
    font-size: 15px;
    line-height: 30px;
}

.services .title{
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.services .title span{
    color: #18AAB7;
    display: block;
    /* margin-left: 3vw; */
}
.services .details{
    margin-top: 15px;
    margin-left: 3vw;
}
.services img{
    opacity: 0.1;
    filter: alpha(opacity=10);
    width: 300px;

}
.services .ser_img{
    position: absolute;
    bottom: -50px;
    right: 0px;
}
.new-project{
    padding-left: 130px;
    padding-right: 100px;
    font-size: 23px;
}
.new-project .input{
    border: none;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
}

.new-project .select{
   width: 50%;
}
.new-project p{
    line-height: 45px;
    text-align: justify;
}

#content-writing{
    margin-top: 200px;
}
#web-development{
    margin-top: 200px;
}
.services_list__wrap {

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.services_list__wrap .services_list li {
    /* margin: 20px 0; */
    padding: 10px;
    color: #131313;
    list-style: none;
}
.services_list__wrap .services_list_line span {
    /* margin-left: .3rem; */
    margin-right: 2rem;
    color:#18AAB7;
    -webkit-transition: all .5s cubic-bezier(1, .5, .38, 1.2);
    transition: all .5s cubic-bezier(1, .5, .38, 1.2);
    font-size: 20px;
}

.btn:link,
.btn:visited{
  text-decoration: none;
  text-transform:uppercase;
  position:relative;
  top:0;
  left:0;
  padding:20px 40px;
  border-radius:100px;
  display:inline-block;
  transition: all .5s;
}

.btn-white{
  background:#18AAB7;
  color:#fff;
}

.btn:hover{
   box-shadow:0px 10px 10px rgba(0,0,0,0.2);
   transform : translateY(-3px);
   text-decoration: none;
   color:#fff;
}

.btn:active{
  box-shadow:0px 5px 10px rgba(0,0,0,0.2);
  transform:translateY(-1px);
  color:#fff;
  text-decoration: none;
}

.btn-bottom-animation-1{
  animation:comeFromBottom 1s ease-out .8s;
}

.btn::after{
  content:"";
  text-decoration: none;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:100px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
  color:#fff;
}

.btn-white::after {
    background: #18AAB7;
    color:#fff;
    text-decoration: none;
}

.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

blockquote {
    margin: 0 auto;
    padding: 1em;
    /* border-left: 5px solid #18AAB7; */
  }
  blockquote:before {
    display: none;
  }
  blockquote:not(:first-of-type) {
    margin-top: .5em;
  }
  blockquote p {
    color: #555;
    font-size: 12pt;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
  }
  blockquote .footer {
    margin-top: .5em;
    padding: 0;
    color: #777;
    font-size: 10pt;
    text-align: left;
    font-style: italic;
  }
  blockquote .footer:before {
    content: '— ';
  }
  blockquote:nth-of-type(even) {
    text-align: right;
    border-left: none;
    border-right: 5px solid #999;
  }
  blockquote:nth-of-type(even) footer {
    text-align: right;
  }
  blockquote:nth-of-type(even) footer:before {
    content: '';
  }
  blockquote:nth-of-type(even) footer:after {
    content: ' —';
  }
  @element 'blockquote' and (min-width: 300px) {
    blockquote {
      padding: 1em 20% 1em 1em;
    }
    blockquote p {
      font-size: 14pt;
    }
    blockquote:nth-of-type(even) {
      padding: 1em 1em 1em 20%;
    }
  }


@keyframes comeFromBottom{
  0%{
    opacity:0;
    transform:translateY(40px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}



@media (min-width: 800px) and (max-width: 1600px) {
    .services .title{
        font-size: 52px;
    }
}
@media (min-width: 1920px) and (max-width: 2300px){
    .flip-container, .front, .back{
        width: 295px;
        height: 220px;
    }
    .col3{
        margin-left:30px;
    }
    .col2{
        margin-left:60px;
    }
    .col1{
        margin-left:90px;
    }
}
@media (min-width: 1830px) and (max-width: 1919px){
    .flip-container, .front, .back{
        width:295px;
        height: 220px;
    }
    .col3{
        margin-left:30px;
    }
    .col2{
        margin-left:60px;
    }
    .col1{
        margin-left:90px;
    }
}
@media (min-width: 1700px) and (max-width: 1829px){
    .flip-container, .front, .back{
        width:295px;
        height: 220px;
    }

}
@media (min-width: 1545px) and (max-width: 1699px){
    .flip-container, .front, .back{
        width:270px;
        height: 200px;
    }
    .home .home-content .hero-title {
        font-size: 60px;
        font-weight: 700;
        line-height: 50px;
    }
    .home .home-content p {
        font-size: 25px;
    }
    .home .home-content p span {
        color: #000;
        font-weight: 700;
    }
    .home .home-content {
        top:40%;
    }


}
@media (min-width: 1435px) and (max-width: 1544px){
    .flip-container, .front, .back{
        width:250px;
        height: 185px;
    }
    .home .home-content .hero-title {
        font-size: 55px;
        font-weight: 700;
    }
    .home .home-content p {
        font-size: 23px;
    }
    .home .home-content p span {
        color: #000;
        font-weight: 700;
    }
    .home .home-content {
        top:40.2%;
    }
}
@media (min-width: 1360px) and (max-width: 1434px){
    .flip-container, .front, .back{
        width:235px;
        height: 175px;
    }
    .home .home-content .hero-title {
        font-size: 55px;
        font-weight: 700;
    }
    .home .home-content p {
        font-size: 23px;
    }
    .home .home-content p span {
        color: #000;
        font-weight: 700;
    }
    .home .home-content {
        top:39%;
    }

}
@media (min-width: 1255px) and (max-width: 1359px){
    .flip-container, .front, .back{
        width:215px;
        height: 160px;
    }
    .home .home-content .hero-title {
        font-size: 50px;
        font-weight: 700;
    }
    .home .home-content p {
        font-size: 20px;
    }
    .home .home-content p span {
        color: #000;
        font-weight: 700;
    }
    .ch-grid li {
        padding: 29px;
        font-size: 12px;
    }
    #expertise .title {
        font-size: 25px;
    }

}
@media (min-width: 1170px) and (max-width: 1254px){
    .flip-container, .front, .back{
        width:200px;
        height: 145px;
    }
    .home .home-content .hero-title {
        font-size: 50px;
        font-weight: 700;
    }
    .home .home-content p {
        font-size: 20px;
    }
    .home .home-content p span {
        color: #000;
        font-weight: 700;
    }

    .home .home-content {
        top:37%;
    }
    .ch-grid li {
        padding: 29px;
        font-size: 12px;
    }
    #expertise .title {
        font-size: 25px;
    }
}
@media (min-width: 800px) and (max-width: 1169px){
    .flip-container, .front, .back{
        width:170px;
        height: 120px;
    }
    .home .home-content .hero-title {
        font-size: 40px;
        font-weight: 700;
    }
    .home .home-content p {
        font-size: 16px;
    }
    .home .home-content p span {
        color: #000;
        font-weight: 700;
    }
    .ch-grid li {
        padding: 29px;
        font-size: 12px;
    }
    #expertise .title {
        font-size: 25px;
    }

}

@media only screen and (max-width: 768px) {
    .home .home-content{
        top:10%;
    }
    .portfolio-tile{
        display: none;
    }
    .port-header{
        display: block;
    }
    .logo span{
        display: none;
    }
    #MainNav .arrow{
        display: none;
    }
    .home .home-content{
        top: 4%;
        left: 20px;
    }
    .home{
        height: 135px;
    }
}
@media only screen and (min-width: 768px) {
    .portfolio-mobile{
        display: none;
    }
    .main-about-margin{
        margin-top: 40px;
    }
    .port-header{
        display: none!important;
    }
}

@media (max-width: 480px){
    /* .home .home-content{
        top:10%;
    } */
    .portfolio-tile{
        display: none;
    }
    .main-about-margin{
        margin-top: 120px;
    }
    #expertise img{
        margin-top:30px;
        width: 35%;
    }
}


ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 16px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #18AAB7;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #18AAB7;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* entire container, keeps perspective */
.flip-container {
	/* perspective: 1000px; */
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

/* .flip-container, .front, .back {
	width: 300px;
	height:230px;
} */
.back{
    background-color: #18AAB7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#fff;
    font-size: 25px;
    padding: 10px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}
.flipper img{
    border-radius: 5px;
    /* padding-left:5px;
    padding-right:5px; */
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
    left: 0;
    border-radius: 5px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.home .col{
    padding: 10px;
}
